<%- include('partials/header', { title: "Home" }) %>
<h1>Welcome to the User Management System</h1>
<span class="index-button-container">
  <button onclick="window.location.href='/login'">Login Here</button>
  <button onclick="window.location.href='/signup'">Sign Up Here</button>
</span>
<%- include('partials/footer') %>
