<%- include('partials/header', { title: "Sign Up" }) %> <% if (user.role ===
"user") { %>
<h1>Welcome to the User Management System!</h1>
<p>
  This is your personal dashboard where you can view your exclusive content!
</p>

<!-- Your dashboard content goes here -->
<div class="landing-content">
  <h3>Recent Activity</h3>
  <ul>
    <li>Completed task: Update profile</li>
    <li>Viewed course: Mastering JavaScript</li>
    <li>Completed task: Submit project</li>
    <li>Submitted project: JavaScript SSO project</li>
  </ul>

  <h3>Upcoming Events</h3>
  <ul>
    <li>Event 1: Go to gaming convention</li>
    <li>Event 2: Attend tech conference</li>
    <li>Event 3: Participate in hackathon</li>
  </ul>
</div>
<% } %> <% if (user.role === "admin") { %>
<h1>Welcome to the Admin Dashboard!</h1>
<p>
  This is the admin dashboard where you can manage all users and other activity!
</p>

<div class="landing-content">
  <h3>Users</h3>
  <ul>
    <% USERS.forEach((user) => { %>
    <li><%= user.username %></li>
    <% }); %>
  </ul>

  <h3>System Alerts</h3>
  <ul>
    <li>System update: New feature added</li>
    <li>Security update: Patch applied</li>
    <li>Performance update: Optimization made</li>
    <li>Support update: Bug fixed</li>
  </ul>
  <% } %>

  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</div>
<%- include('partials/footer') %>
